{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block content %}
    <div class = "form">

        {% if form.errors %}
            <p>Ваш логин и пароль не подходят. Пожалуйста, попробуйте ещё раз.</p>
        {% endif %}

        <form method = "post" action = "{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><h4>Логин:</h4></td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td><h4>Пароль:</h4></td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <span>
                <a href = "/">
                <button type = "submit">
                    Войти
                </button>
                    </a>
            </span>
            <input type = "hidden" name = "next" value = "{{ next }}"/>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        {#    <p><a href = "{% url 'password_reset' %}">Lost password?</a></p>#}
    </div>
{% endblock %}