{% extends "base.html" %}

{% block content %}
    <div class = "form">
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}

        <h1>Восстановление пароля</h1>
        <form method = "post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><h4>Почта, которую вы указали при создании аккаунта:</h4></td>
                </tr>
                <tr>
                    <td><input type = "text" name = "email"></td>
                </tr>
            </table>

            <span>
                <button type = "submit">
                    Отправить код восстановления.
                </button>
            </span>

        </form>
    </div>
{% endblock %}