{% extends "base.html" %}
{% block links %}
    <p><a href = "/">Home</a></p>

    {% if user.is_authenticated %}
        <p>User: {{ user.get_username }}</p>
        <p><a href = "{% url 'logout' %}?next=/">Logout</a></p>
    {% else %}
        <p><a href = "{% url 'login' %}?next=/">Login</a></p>
    {% endif %}

{% endblock %}

{% block content %}
    <div class = "buy">
        <h1>
            Вы собираетесь купить: {{ star.name }}
        </h1>
        <h3>
            Ее цена: {{ star.cost }}&#8381;
        </h3>
    </div>
{% endblock %}