{% extends "base.html" %}

{% block content %}
    <div class = "buy">
        <h1>
            Вы собираетесь купить: {{ star.name }}
        </h1>
        <h3>
            Цена: {{ star.cost }}&#8381;
        </h3>
        {#        ПОКУПКА!!!#}
        <form method = "POST"
              action = "https://money.yandex.ru/quickpay/confirm.xml"
              style = "float: right; margin-top: 5%">
            <input type = "hidden" name = "receiver" value = "4100112670879333">
            <input type = "hidden" name = "formcomment" value = "Покупка звезды: {{ star.name }}">
            <input type = "hidden" name = "short-dest" value = "Покупка звезды: {{ star.name }}">
            <input type = "hidden" name = "label" value = "{{ star.id }}&{{ user.id }}">
            <input type = "hidden" name = "quickpay-form" value = "donate">
            <input type = "hidden" name = "targets" value = "Покупка звезды: {{ star.name }}">
            <input type = "hidden" name = "sum" value = "{{ star.cost }}" data-type = "number">
            <input type = "hidden" name = "need-fio" value = "true">
            <input type = "hidden" name = "need-email" value = "true">
            <input type = "hidden" name = "need-phone" value = "true">
            <input type = "hidden" name = "need-address" value = "true">
            <input type = "hidden" name = "paymentType" value = "AC">
            <button type = "submit">Купить</button>
        </form>
    </div>
{% endblock %}