<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
    <meta charset = "UTF-8">

    <link rel = "stylesheet" href = "{% static "all.css" %}">
    <title>{% block title %}StarShop{% endblock %}</title>
</head>
<body>
<div class = "container">
    <header>{% block header %}
        <h1>StarShop</h1>
        <div class = "links">
            {% block links %}
                <p><a href = "/">Домашняя страница</a></p>

                {% if user.is_authenticated %}
                    <p><a href = "/profile">Личный кабинет</a></p><p>
                    <a href = "{% url 'logout' %}?next={{ request.path }}">Выйти</a></p>
                {% else %}
                    <p><a href = "{% url 'login' %}?next={{ request.path }}">Войти</a>
                    </p>
                {% endif %}

            {% endblock %}
        </div>
    {% endblock %}</header>
    <div class = "main">
        {% block content %}
        {% endblock %}
    </div>

    <div class = "footer">
        <h3>Запрограммировано: <strong><a href = "/about">Feniks</a></strong></h3>
        <p>Если возникли какие-либо ошибки - свяжитесь со мной: gtgtr3000@gmail.com</p>
    </div>
</div>
</body>
</html>
